/*
Colors used:
Primary Color (White): #FFFFFF;
Secondary Color (Light Grey): #DCDCDC;
CTA Color: #3333FF
*/

/* General Styling */

* {
  box-sizing: border-box;
}

main {
  padding-top: 35px;
}

body {
  background-color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

h5 {
  font-size: 2.5em;
  font-weight: 700;
}

img {
  width: 100%;
  border-radius: 3px;
}

/* Container Styling */

.container {
  padding: 0 15px;
}

.container > h2 {
  text-align: center;
}

/* Row Styling */

.row {
  margin: 30px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/* Nav Bar Styling */

header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 125px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Hero Layout Styling */

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#hero p {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* CSS Sun Animation Styling */

/*
@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* CSS Cloud-front Animation Styling */

/*
@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* CSS Cloud-back Animation Styling */

/*
@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

/* CTA Button Styling */

.button {
  display: inline-block;
  background-color: #3333ff;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3333ff; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  transition-duration: 0.2s;
}

.button.contact {
  background-color: transparent;
  color: #3333ff;
  border: 2px solid #3333ff;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact:hover {
  background-color: #3333ff;
  color: #ffffff;
  text-decoration: none;
}

/* Contact Styling */

#contact {
  background-color: #f1f1f1;
  text-align: center;
  padding-bottom: 1px;
}

#contact > div > h2 {
  padding-top: 30px;
  text-align: center;
}

.contactbutton {
  width: 10%;
  height: 10%;
  text-decoration: none;
}

#contact > div > .p2 {
  padding: 10px;
}

/* About Page Styling */

.about {
  margin: 10px;
  padding-top: 20px;
  text-align: center;
}

.mystory {
  text-align: center;
}

.story {
  padding: 10px;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
}

/* Project Styling */

#casestudy {
  margin-left: 0px; /* Same width as the sidebar + left position in px */
  padding: 40px 10px 0px 10px;
  width: 100%;
}

#casestudy img {
  border-radius: 0px;
}

.dropup {
  display: none;
}

/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    float: left;
    padding-top: 10px;
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  .logo {
    max-width: 150px;
  }

  main {
    padding-top: 50px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
    line-height: 30px;
  }

  #hero span {
    display: block;
  }

  #hero h1 {
    text-align: center;
  }

  #hero p {
    width: 75%;
    margin: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
    display: inline;
  }

  .profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 20px;
  }

  #casestudy {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .contactbutton {
    width: 4%;
    height: 4%;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #3333ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropup {
    position: fixed;
    bottom: 0;
    padding-left: 0;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropup-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropup:hover .dropbtn {
    background-color: #4444ff;
  }

  #casestudy img {
    padding-top: 65px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  #hero h1 {
    text-align: center;
  }

  #hero p {
    width: 60%;
    margin: auto;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #casestudy {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1500px) {

  #casestudy {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero p {
    width: 60%;
    margin: auto;
  }

  #hero h1 {
    text-align: center;
  }
}
