/*
Colors used:
Primary Color (White): #FFFFFF;
Secondary Color (Light Grey): #DCDCDC;
CTA Color: #3333FF
*/

/* General Styling */

* {
  box-sizing: border-box;
}

main {
  padding-top: 133px;
}

body {
  background-color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}
h4 {
  font-size: 1.0em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* Container Styling */

.container {
  padding: 0 15px;
}

.container > h2 {
  text-align: center;
}

/* Row Styling */

.row {
  margin: 30px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

/* Nav Bar Styling */

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/* Hero Layout Styling */

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  padding-top: 20px;
}

/* CTA Button Styling */

.button {
  display: inline-block;
  background-color: #3333ff;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 7px;
  border-bottom: 2px solid #3333ff; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  transition-duration: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #3333ff;
  text-transform: uppercase;
  border: 2px solid #3333ff;
  margin-bottom: 20px;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact:hover {
  background-color: #3333ff;
  color: #ffffff;
  text-decoration: none;
}

/* Contact Styling */

#contact {
  background-color: #d6d6d6;
  text-align: center;
  padding-bottom: 1px;
}

#contact > div > h2 {
  padding-top: 30px;
}

#contactbutton {
  width: 10%;
  height: 10%;
  text-decoration: none;
}

#contact > div > .p2 {
  padding: 10px;
}

/* About Page Styling */

.about {
  margin: 10px;
  padding-top: 20px;
  text-align: center;
}

.mystory {
  text-align: center;
}

/* Project Styling */

#casestudy {
  padding-top: 165px;
}

/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    float: left;
    padding-top: 10px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
  display: block;
  }

  .col-md-6 {
  width: 50%;
  }

  [class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
  }

  h3 {
    display: inline;
  }

  #casestudy {
    padding-top: 125px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
  width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }

  #casestudy {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
